/*	FONTS  */

@font-face {
  font-family: Open Sans;
  src: url(fonts/OpenSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
 }
 
 @font-face {
  font-family: Open Sans;
  src: url(fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
 }
 
 @font-face {
  font-family: Open Sans;
  src: url(fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: bold;
 }
 
 @font-face {
  font-family: Panefresco;
  src: url(fonts/Panefresco1wtItalic.ttf);
  font-weight: 1;
  font-style: italic;
 }
 
 @font-face {
  font-family: Panefresco;
  src: url(fonts/Panefresco1wtRegular.ttf);
  font-weight: 1;
  font-style: normal;
 }
 
 @font-face {
  font-family: Panefresco;
  src: url(fonts/Panefresco600wtItalic.ttf);
  font-weight: 600;
  font-style: italic;
 }
 
 @font-face {
  font-family: Panefresco;
  src: url(fonts/Panefresco600wt-Regular.ttf);
  font-weight: 600;
  font-style: normal;
 }
 
 @font-face {
  font-family: Panefresco;
  src: url(fonts/Panefresco800wtItalic.ttf);
  font-weight: 800;
  font-style: italic;
 }
 
 @font-face {
  font-family: Panefresco;
  src: url(fonts/Panefresco800wtRegular.ttf);
  font-weight: 800;
  font-style: normal;
 }
 
 @font-face {
  font-family: Panefresco;
  src: url(fonts/Panefresco999wt-Italic.ttf);
  font-weight: 900;
  font-style: italic;
 }
 
 @font-face {
  font-family: Panefresco;
  src: url(fonts/Panefresco999wtRegular.ttf);
  font-weight: 900;
  font-style: normal;
 }
 
 @font-face {
  font-family: Built Titling;
  src: url(fonts/built-titling-sb-it.ttf);
  font-weight: 800;
  font-style: italic;
 }
 
 @font-face {
  font-family: Built Titling;
  src: url(fonts/built-titling-sb.ttf);
  font-weight: 800;
  font-style: normal;
 }
 